package javabean;

#foreach( $field in $fields )
#if( $field.getJavaType() == "Date")
import java.util.Date;

#break;
#end
#end
import java.util.List;
import com.opencsv.bean.CsvBindAndSplitByName;
import com.opencsv.bean.CsvBindByName;

public class ${className}Bean
{
#foreach( $field in $fields )
#if( $field.getJavaType() == 'List<Integer>' )
	/**
	 * $field.getComment()
	 */
 	@CsvBindAndSplitByName(elementType= Integer.class, splitOn = "\\,")
	private $field.getJavaType() $field.getLowerName();

#elseif( $field.getJavaType() == 'List<String>' )
	/**
	 * $field.getComment()
	 */
 	@CsvBindAndSplitByName(elementType= String.class, splitOn = "\\,")
	private $field.getJavaType() $field.getLowerName();

#else
	/**
	 * $field.getComment()
	 */
 	@CsvBindByName
	private $field.getJavaType() $field.getLowerName();

#end
#end
#foreach( $field in $fields )
	/**
	 * $field.getComment()
	 */
	public $field.getJavaType() get$field.getUpperName()()
	{
		return $field.getLowerName();
	}

	/**
	 * $field.getComment()
	 */
	public void set$field.getUpperName()($field.getJavaType() $field.getLowerName())
	{
		this.$field.getLowerName() = $field.getLowerName();
	}
#if($foreach.hasNext)

#end
#end
}
