#set($classNameBean = ${className} + 'Bean')
package cn.fcbarry.mgr;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import cn.fcbarry.javabean.csv.${classNameBean};
import cn.fcbarry.csv2bean.CSV2JavaBean;

public class ${className}Mgr
{
    private static volatile Map<Integer, ${classNameBean}> map;

    public static boolean init()
    {
        return reload();
    }

    public static boolean reload()
    {
        try
        {
            Map<Integer, ${classNameBean}> newMap = new HashMap<>();
            List<${classNameBean}> list = CSV2JavaBean.getBeanList(${classNameBean}.class);

            for (${classNameBean} bean : list)
            {
                newMap.put(bean.get${primaryKey}(), bean);
            }

            map = newMap;
        }
        catch (Exception e)
        {
            return false;
        }

        return true;
    }

    public static ${classNameBean} get${classNameBean}(int id)
    {
        return map.get(id);
    }
}
